<div class="project">
  <div class="project-main">
    <span class="title">{{ project.title }}</span>
    <p>{{ project.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
  </div>
  <div class="project-meta">
    {% if project.tags %}
    <div class="project-tags">
      {% for tag in project.tags %}
        <span class="project-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
    <div class="links">
      {% if project.url %}
        <a href="{{ project.url }}"><i class="fas fa-link" aria-hidden="true"></i> Site</a>
      {% endif %}
      {% if project.code %}
        <a href="{{ project.code }}"><i class="fab fa-github" aria-hidden="true"></i> Code</a>
      {% endif %}
      {% if project.paper %}
        <a href="{{ project.paper }}"><i class="far fa-file-pdf"></i> Paper</a>
      {% endif %}
      {% if project.demo %}
        <a href="{{ project.demo }}"><i class="fas fa-play"></i> Demo</a>
      {% endif %}
      {% if project.article %}
        <a href="{{ project.article }}"><i class="fas fa-newspaper"></i> Post</a>
      {% endif %}
    </div>
  </div>
</div>
